@model AgendaTuLookWeb.Models.CitasModel
@inject IHttpContextAccessor HttpContextAccessor
@{
    var servicioNuevoId = Model.Servicio.ServicioId;
    var servicioActualId = Context.Request.Query["sa"].ToString();
}

<section id="schedule-management">
    <div class="pb-4">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">Editar fecha y hora de la cita</h1>
                <p class="text-muted">Seleccione un nuevo día y horario para el servicio.</p>
                <div class="alert alert-info">
                    <strong>Servicio seleccionado:</strong> @Model.Servicio.NombreServicio:  ₡@Model.Servicio.Precio <br />
                    <strong>Fecha Actual de la Cita:</strong> @Model.Fecha.ToString("dddd, dd 'de' MMMM 'del' yyyy", new System.Globalization.CultureInfo("es-ES")) <br />
                    <strong>Hora Actual de la Cita:</strong> @DateTime.Today.Add(Model.HoraInicio).ToString("hh:mm tt")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6" id="calendar-container">
                <div class="bg-white rounded rounded-1 p-3">
                    <div id="calendar"></div>
                </div>
            </div>
            <div class="col-6">
                <div class="bg-white rounded rounded-1 p-3">
                    <div id="texto-guia" class="text-center text-secondary">Selecciona un día para mostrar su horarios disponibles</div>
                    <div id="selectorHoras">
                        <!-- Aquí se generarán los botones con las horas disponibles -->
                    </div>
                </div>
                <div class="mt-3">
                    <input type="hidden" id="citaId" value="@Model.CitaId" />
                    <input type="hidden" id="servicioNuevoId" value="@servicioNuevoId" />
                    <input type="hidden" id="servicioActualId" value="@servicioActualId" />
                    <input type="hidden" id="fechaSeleccionada" />
                    <input type="hidden" id="horaSeleccionada" />
                    <a id="confirmarEdicion" onclick="redirigirConfirmarEdicion()" class="btn btn-lg btn-primary w-100" style="background-color:#321914; border-color: #1F283E;">Siguiente</a>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/js/solicitudcita/actualizarhoraseleccionada.js"></script>
<script src="~/js/solicitudcita/calendarioEditar.js"></script>
<script src="~/js/solicitudcita/redirigiravistaeditar.js"></script>

