@model List<HorariosModel>
<div>
    <h2>Consulta de horarios</h2>
</div>
<a class="btn btn-success " href="@Url.Action("CrearHorario","Horarios")">crear horario</a>
@if(Model.Count == 0 || !Model.Any()){
	<p>No hay horarios para mostrar</p>
    <a class="btn btn-danger " href="@Url.Action("Index","Horarios", new { Estado = false })">ver horarios eliminados</a>
}else{

    <div class="pt-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha inicio</th>
                    <th>Fecha final</th>
                    <th>Estado</th>
                    <th></th>


                </tr>
            </thead>
            <tbody>
                @foreach (var Horarios in Model)
                {
                    <tr>
                        <td>@Horarios.StartDate</td>
                        <td>@Horarios.EndDate</td>
                        <td>
                            @if (Horarios.Estado == true)
                            {
                                <p>Activo</p>
                            }
                            else
                            {
                                <p>Inactivo</p>
                            }
                        </td>
                        <td>

                            <a class="btn btn-success " href="@Url.Action("VerHorario","Horarios", new { Id = @Horarios.HorariosId })">Editar horario</a>
                            <a class="btn btn-warning" href="@Url.Action("EliminarHorario","Horarios", new { Id = @Horarios.HorariosId })">Eliminar horario</a>
                        </td>



                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-danger " href="@Url.Action("Index","Horarios", new { Estado = false })">ver horarios eliminados</a>
    </div>
    
}